#!/usr/bin/env sh

#
# Environment.
#
# Take care not to commit any actual secrets here.
#
# Usage: Simply source it from your shell, `. .envrc`. Personally, I prefer to
# use `direnv` to automatically load and unload the environment.
#

# Test user accounts.
  # Same password that is used and documented in the Cypress Real World App.
  export cypress_test_user_username='testUser01'
  export cypress_test_user_password='s3cret'
  export cypress_test_user02_username='testUser02'
  export cypress_test_user02_password='s3cret'
