# npm configuration.

engine-strict=true
fund=false
long=true
pack-destination='dist'

logs-dir='tmp/logs/npm'
logs-max=8000

init-author-name='Charlie Wilson'
init-author-email='wilsoncd35@gmail.com'
init-author-url='https://github.com/wilsoncd35'
init-license='MIT'
init-version='0.1.0-0'
init-private=true
init-type='module'
